<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <ul class="nav justify-content-between w-100">
      @if (!isUser) {
      <li class="nav-item ms-0 me-3">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="router-link-active">Login</a>
      </li>
      } @else {
      <li class="nav-item ms-0 me-3">
        <a class="nav-link" [routerLink]="['editor']" routerLinkActive="router-link-active">Editor</a>
      </li>
      <li class="nav-item ms-0 me-auto d-flex align-content-center">
        <a class="align-self-center" href="https://startum.dk/" target="_blank">Site</a>
      </li>
      <li class="nav-item ms-auto me-0">
        <button class="nav-link" (click)="signOut()">Log out</button>
      </li>
      }
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
